# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor
keys
.dockerignore
.env

# jetbrains config file
.idea/

data/winemag-data-130k-v2-formatted.json.zip
data/winemag-data-130k-v2-formatted/
